<h1>Artist Results</h1>
<div class="row">
    {{#each artists}}
      <div class="col-sm-4">
        <div class="card" style="width: 18rem; align-items: center">
            <img src={{images.[0].url}} class="card-img-top" alt="Artist-img">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <a href="/albums/{{id}}" class="btn btn-primary">View Albums</a>
            </div>
        </div>
      </div>
    {{/each}}
</div> 
