<div class="index">
    <div class="form">
        <form action="/artist-search" method="GET">
            <label>
                <input class="form-control" type="text" name="artistName">
                </label>
        </form>  
        <button type="submit" class="btn btn-primary">Search for an artist</button>
    </div>
</div>
